@using System.Web.Mvc.Html
@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
@using ProjectManagement.Infrastructures.Helper
@using ProjectManagement.Models
@model ProjectManagement.ViewModels.Hardware.VmAftersalesPmHwIssueVerification

@*<h2>AftersalesPmHwIssueVerification</h2>*@
<link href="~/Content/loadingText.css" rel="stylesheet" />
<style>
    #loading {
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 999;
        text-align: center;
    }
</style>
<div class="portlet light bordered" style="background: gray">
    <div class="row">
        <div class="col-lg-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-body" style="padding: 15px">
                    <div class="table-scrollable table-responsive">
                        <table class="table table-striped table-bordered table-hover tbl1" id="tbl1">
                            <thead style="background-color: #C00000; color: white;">
                                <tr>
                                    <th>#</th>
                                    <th style="display: none">Id</th>
                                    <th class="text-center">Model Name</th>
                                    <th class="text-center">Supplier</th>
                                    <th class="text-center">Soft.<br />Ver.No.</th>
                                    <th class="text-center">Soft.Ver.Name</th>
                                    <th class="text-center">Module</th>
                                    <th class="text-center">Issue Details</th>
                                    <th class="text-center">Issue Type</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Assign Date</th>
                                    <th class="text-center">More..</th>
                                    <th class="text-center">Action</th>
                                    <th class="text-center">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.AftersalesPmHwIssueVerificationModels.Any())
                                {
                                    for (int i = 0; i < Model.AftersalesPmHwIssueVerificationModels.Count; i++)
                                    {
                                        <tr class="trClsforSize">
                                            <td></td>
                                            <td class="text-center" style="display: none">@Model.AftersalesPmHwIssueVerificationModels[i].Id</td>
                                            <td class="text-center">@Model.AftersalesPmHwIssueVerificationModels[i].ModelName</td>
                                            <td class="text-center">@Model.AftersalesPmHwIssueVerificationModels[i].SupplierName</td>
                                            <td class="text-center">@Model.AftersalesPmHwIssueVerificationModels[i].SoftwareVersionNo</td>
                                            <td class="text-center">@Model.AftersalesPmHwIssueVerificationModels[i].SoftwareVersionName</td>
                                            <td class="text-center">@Model.AftersalesPmHwIssueVerificationModels[i].Module</td>
                                            <td class="text-center">@Model.AftersalesPmHwIssueVerificationModels[i].IssueDetails</td>
                                            <td class="text-center">@Model.AftersalesPmHwIssueVerificationModels[i].IssueType</td>
                                            <td class="text-center">
                                                @if (@Model.AftersalesPmHwIssueVerificationModels[i].Status == "ASSIGNED")
                                                {
                                                    <p style="color:green;font-weight: bold">@Model.AftersalesPmHwIssueVerificationModels[i].Status</p>
                                                }
                                                else if (@Model.AftersalesPmHwIssueVerificationModels[i].Status == "DECLINED")
                                                {
                                                    <p style="color: red; font-weight: bold">@Model.AftersalesPmHwIssueVerificationModels[i].Status</p>
                                                }
                                                else
                                                {
                                                    <p style="color: blue; font-weight: bold">@Model.AftersalesPmHwIssueVerificationModels[i].Status</p>
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (Model.AftersalesPmHwIssueVerificationModels[i].AddedDate != null)
                                                {
                                                    @String.Format("{0:yyyy-MM-dd}", Model.AftersalesPmHwIssueVerificationModels[i].AddedDate)
                                                }
                                            </td>
                                            <td class="text-center">
                                                Issue Frequency : @Model.AftersalesPmHwIssueVerificationModels[i].IssueFrequency
                                                <a href="#" data-toggle="tooltip" title="Path : @Model.AftersalesPmHwIssueVerificationModels[i].TestingPath, Result : @Model.AftersalesPmHwIssueVerificationModels[i].ResultFound, Data : @Model.AftersalesPmHwIssueVerificationModels[i].Data, IssueOccRatio :@Model.AftersalesPmHwIssueVerificationModels[i].IssueOccRatio, ASPM Check HS : @Model.AftersalesPmHwIssueVerificationModels[i].NumberOfHSsChecked, Num of HS Return : @Model.AftersalesPmHwIssueVerificationModels[i].NumberOfHSsReturn, Remarks : @Model.AftersalesPmHwIssueVerificationModels[i].Remarks">More...</a>
                                            </td>
                                            <td style="text-align: left">
                                                @if (@Model.AftersalesPmHwIssueVerificationModels[i].Status != "DECLINED" && @Model.AftersalesPmHwIssueVerificationModels[i].Status != "CLOSED")
                                                {

                                                    if (@Model.AftersalesPmHwIssueVerificationModels[i].Status != "RequirementClosed" && @Model.AftersalesPmHwIssueVerificationModels[i].Status != "RequirementPlaced" && @Model.AftersalesPmHwIssueVerificationModels[i].Status != "RequirementAccepted")
                                                    {
                                                        <button type="submit" class="btn btnPlace" id="btnPlace" style="background: #C5E0B4;font-weight: bold;">
                                                            Place Requirement
                                                        </button><br /><br />

                                                    }
                                                    if (@Model.AftersalesPmHwIssueVerificationModels[i].Status != "RequirementAccepted" && @Model.AftersalesPmHwIssueVerificationModels[i].Status != "ReportAccepted" && @Model.AftersalesPmHwIssueVerificationModels[i].Status != "ReportShared")
                                                    {
                                                        <button type="submit" class="btn btnShare" id="btnShare" style="background: #FFFF00; font-weight: bold;">
                                                            Share Report
                                                        </button><br /><br />
                                                        <button type="submit" class="btn btnDecline" id="btnDecline" style="background: #FF0000; font-weight: bold;">
                                                            DECLINED
                                                        </button><br />
                                                    }
                                                    @*<button type="submit" class="btn btnShare" id="btnShare" style="background: #FFFF00; font-weight: bold;">
                                                            Share Report
                                                        </button><br /><br />*@
                                                }
                                              
                                              
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-circle" target="_blank" href='@Url.Action("AftersalesPmHarwareIssueDetails", "AftersalesPm", new { issueIds = @Model.AftersalesPmHwIssueVerificationModels[i].Id })'>
                                                    <span class="glyphicon glyphicon-list-alt"></span> Details
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>
</div>
<div class="modal fade " id="draggable" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="font-weight: bold; color:red;">Declined Reason :</h4>
            </div>
            <div class="modal-body" style="background:lightslategray">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label" style="color:white;font-weight: bold">Project Name :</label>
                        <input name="ProjectName1" id="ProjectName1" readonly="readonly" type="text" class="form-control" style="font-weight: bold;color:black">
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="control-label">Ids:</label>
                        <input name="MainId1" id="MainId1" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label" style="color:white;font-weight: bold">Declined Reason :</label>
                        <textarea name="DeclineReason" id="DeclineReason" class="form-control" rows="5" id="message-text" style="color:black"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="font-weight: bold">CLOSE</button>
                <input type="submit" id="smitModalOfSave" class="btn green smitModalOfSave" value="SAVE" style="font-weight: bold" />
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="loading" style="display: none;text-align: center;">
    <img src="~/img/loading-spinner-grey.gif" />
</div>

<script>
    /////sample_1 /////
    $(function () {
        $("body:first").addClass("page-sidebar-closed");
        $("ul.page-sidebar-menu").addClass("page-sidebar-menu-closed");
    });
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(document).ready(function () {
        var t = $('#tbl1').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            // "lengthMenu": [[10, 20, 30, 50, -1], [10, 20, 30, 50, "All"]],
            "lengthMenu": [[10, 20, 30, 50, -1], [10, 20, 30, 50, "All"]],
            "fixedHeader": {
                header: true,
                footer: true
            }

        });
        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
        $("body").on("click", "#tbl1 #btnDecline", function () {
            var rowIndex = $(this).closest('tr').index() + 1;
            var table = document.getElementById('tbl1');

            var idss = $.trim(table.rows[rowIndex].cells[1].innerHTML);
            var proName = $.trim(table.rows[rowIndex].cells[2].innerHTML);

            $('#draggable').modal();

            $('#DeclineReason').val("");
            $('#ProjectName1').val(proName);
            $('#MainId1').val(idss);
        });

        $("#smitModalOfSave").on('click', function () {
            $('#draggable').modal('hide');
            $('#loading').show();

            var idss = $('#MainId1').val();
            var declineReason = document.getElementById("DeclineReason").value;
            if (declineReason == "") {
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please must input decline Reason.",
                }).show();
                $('#loading').hide();
                return false;
            }

            var obj = {};
            obj.Id = idss;
            obj.DeclineReason = declineReason;

            $.ajax({
                url: '@Url.Action("AftersalesPmHwIssueDeclined", "Hardware")',
                type: 'POST',
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data == "ok") {
                        window.location = '@Url.Action("AftersalesPmHwIssueVerification", "Hardware")';
                        window.location.reload(true);
                        $('#loading').hide();
                    }
                }
            });
            event.preventDefault(); //Prevent the default submit

        });
        $("body").on("click", "#tbl1 #btnPlace", function () {

            var rowIndex = $(this).closest('tr').index() + 1;
            var table = document.getElementById('tbl1');

            var idss = $.trim(table.rows[rowIndex].cells[1].innerHTML);
            var proName = $.trim(table.rows[rowIndex].cells[2].innerHTML);

            window.location = '@Url.Action("AftersalesPmHwIssuePlaceRequirement", "Hardware")' + '?ids=' + idss + '&proName=' + proName;

        });
        $("body").on("click", "#tbl1 #btnShare", function () {

            var rowIndex = $(this).closest('tr').index() + 1;
            var table = document.getElementById('tbl1');

            var idss = $.trim(table.rows[rowIndex].cells[1].innerHTML);
            var proName = $.trim(table.rows[rowIndex].cells[2].innerHTML);

            window.location = '@Url.Action("AftersalesPmHwIssueReportShare", "Hardware")' + '?ids=' + idss + '&proName=' + proName;

        });
    });
    $(document).on('submit', 'form', function () {
        var buttons = $(this).find('[type="submit"]');
        if ($(this).valid()) {
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', true);
            });
        } else {
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', false);
            });
        }
    });
</script>
