@model ProjectManagement.ViewModels.MaterialWastageReportTopSheetViewModel





<body>
    <div class="portlet box default">

        <div class="portlet-body form">
            <div class="row">
                <div class="col-lg-12">

                    <div class="col-lg-8">
                        <table class="" style="align-content: center; width: 100%">
                            <tr>
                                <td style="width: 30%">
                                    <img style="margin-top: 60px" src="@Url.Content("~/assets/layouts/layout4/img/walton_logo.png")" alt="logo" class="logo-default" width="100" height="60" />
                                </td>
                                <td style="width: 70%">
                                    <table>
                                        <tr><td style="text-align: center; font-weight: bold">@Html.DisplayFor(model => model.CompanyName)</td></tr>
                                        <tr><td style="text-align: center; font-weight: bold">@Html.DisplayFor(model => model.UnitName)</td></tr>
                                        <tr><td style="text-align: center; font-weight: bold">@Html.DisplayFor(model => model.Address)</td></tr>
                                        <tr><td style="text-align: center; font-weight: bold">@Html.DisplayFor(model => model.Adderes2)</td></tr>
                                        <tr><td style="text-align: center; font-weight: bold">@Html.DisplayFor(model => model.MonthName)</td></tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <table class="table" style="align-content: center; width: 100%; border: 1px solid black">
                <thead>
                    <tr style="border: 1px solid black">
                        <th style="border: 1px solid black">Particulars</th>
                        <th style="border: 1px solid black">Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Particulars)
                    {
                        <tr style="border: 1px solid black">

                            <td style="border: 1px solid black">@item.Particular</td>
                            <td style="border: 1px solid black">@item.CommaSeparatedPriceValue</td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />
            <table style="border: 1px solid black">
                <tr style="border: 1px solid black">
                    <td style="border: 1px solid black">
                        <table class="table">
                            <tr style="border: 1px solid black"><td><strong>Created By</strong></td></tr>
                            @foreach (var i in Model.CreatorList)
                            {
                                <tr style="border: 1px solid black"><td>@i</td></tr>
                            }
                        </table>
                    </td>
                    <td>
                        <table class="table" style="border: 1px solid black">
                            <tr style="border: 1px solid black"><td><strong>Incharge Approval By</strong></td></tr>
                            @foreach (var i in Model.InChargeList)
                            {
                                <tr style="border: 1px solid black"><td>@i</td></tr>
                            }
                        </table>
                    </td>
                    <td>
                        <table class="table" style="border: 1px solid black">
                            <tr><td><strong>Deputy Approval By</strong></td></tr>
                            @foreach (var i in Model.DeputyCooList)
                            {
                                <tr style="border: 1px solid black"><td>@i</td></tr>
                            }
                        </table>
                    </td>
                    <td>
                        <table class="table" style="border: 1px solid black">
                            <tr><td><strong>COO Approval By</strong></td></tr>
                            @foreach (var i in Model.CooList)
                            {
                                <tr style="border: 1px solid black"><td>@i</td></tr>
                            }
                        </table>
                    </td>
                    <td>
                        <table class="table" style="border: 1px solid black">
                            <tr><td><strong>Management Approval By</strong></td></tr>
                            @foreach (var i in Model.ApprovalList)
                            {
                                <tr style="border: 1px solid black"><td>@i</td></tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>



        </div>
    </div>

    <footer id="printFooter">
        <div id="divFooter"></div>
    </footer>
</body>
